




:root {

    --lsp-blue-one:     #2269F5;
    --lsp-blue-two:     rgba(34, 105, 245, 0.25) !important;

    --lsp-cyan-one:     #008FFB;
    --lsp-cyan-two:     rgba(0, 143, 251, 0.25) !important;

    --lsp-green-one:    #00A85A;
    --lsp-green-two:    rgba(0, 168, 90, 0.25) !important;
    --lsp-green-tree:   #00944F;
    --lsp-green-four:   #00723D;

    --lsp-teal-one:     #00E396;
    --lsp-teal-two:     rgba(0, 227, 150, 0.25) !important;
    --lsp-teal-tree:    #00BD7E;
    --lsp-teal-four:    #018B5D;

    --lsp-yellow-one:   #FFC107;
    --lsp-yellow-two:   rgba(255, 193, 7, 0.25) !important;
    --lsp-yellow-tree:  #C7990E;
    --lsp-yellow-four:  #8B6900;

    --lsp-red-one:      #DC3545;
    --lsp-red-two:      rgba(220, 53, 69, 0.25) !important;
    --lsp-red-tree:     #BB1D2D;
    --lsp-red-four:     #9B0C1A;

    --lsp-purple-one:   #6F42C1;
    --lsp-purple-two:   rgba(111, 66, 193, 0.25) !important;

    --lsp-light-one:    rgba(255, 255, 255, 0.5);
    --lsp-light-two:    rgba(255, 255, 255, 0.0) !important;

    --lsp-white:        #FFFFFF;
    --lsp-light:        #363644;
    --lsp-primary:      #181821;
    --lsp-secondary:    #1F1F2B;
    --lsp-tertiary:     #262633;
    --lsp-black:        #171720;

    --lsp-border-light: #2D2D3F;
    --lsp-border-dark:  #171720;

    --text-primary:     #FFFFFF;
    --text-secondary:   #B6B9CE;
    --text-tertiary:    #65677e;
    --text-muted:       #505061;

    --dark:             #0A0A0F;
    --black:            #06060A;



    --filter-blue:      invert(29%) sepia(84%)  saturate(3001%) hue-rotate(214deg) brightness(100%) contrast(93%);
    --filter-cyan:      invert(66%) sepia(70%)  saturate(6531%) hue-rotate(182deg) brightness(95%)  contrast(107%);
    --filter-green:     invert(38%) sepia(50%)  saturate(1757%) hue-rotate(123deg) brightness(100%) contrast(101%);
    --filter-teal:      invert(69%) sepia(57%)  saturate(2199%) hue-rotate(108deg) brightness(96%)  contrast(101%);
    --filter-yellow:    invert(77%) sepia(34%)  saturate(2494%) hue-rotate(354deg) brightness(104%) contrast(101%);
    --filter-red:       invert(23%) sepia(46%)  saturate(4984%) hue-rotate(341deg) brightness(95%)  contrast(80%);
    --filter-purple:    invert(29%) sepia(17%)  saturate(6460%) hue-rotate(242deg) brightness(92%)  contrast(91%);
    --filter-primary:   invert(76%) sepia(100%) saturate(2%)    hue-rotate(305deg) brightness(111%) contrast(101%);
    --filter-secondary: invert(83%) sepia(16%)  saturate(249%)  hue-rotate(195deg) brightness(88%)  contrast(90%);
    --filter-tertiary:  invert(47%) sepia(20%)  saturate(216%)  hue-rotate(165deg) brightness(95%)  contrast(93%);

}





* {
    box-sizing:     border-box;
    margin:         0;
    padding:        0;
    font-family:    'Poppins';
    font-weight:    400;
}

html,
body {
    width:              100vw;
    height:             100vh;
    top:                0;
    bottom:             0;
    margin:             0;
    padding:            0;
    background-color:   var(--lsp-primary);
    font-family:        'Poppins';
    color:              var(--text-primary);
}

input {
    background-color:   transparent;
    color:              var(--text-secondary);
}

select {

    position:           relative;
    
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;

    background-image:       linear-gradient(45deg, transparent 50%, var(--text-secondary) 50%),
                            linear-gradient(135deg, var(--text-secondary) 50%, transparent 50%),
                            linear-gradient(to right, var(--text-muted), var(--text-muted));
    
    background-position:    calc(100% - 20px) calc(1em + 2px),
                            calc(100% - 15px) calc(1em + 2px),
                            calc(100% - 3em) 0.5em;
    
    background-size:        5px 6px,
                            5px 6px,
                            1px 1.5em;
        

    image-rendering:        optimizeQuality;
    background-repeat:      no-repeat;
}

option {
    background-color:   var(--lsp-primary);
    border:             none;
}

button,
input,
label,
textarea {
    font-family: 'Montserrat';
    font-weight: 500;
}

input:-webkit-autofill::first-line,
input:-internal-autofill-previewed,
input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-clip:            text;
    box-shadow:                 0 0 0 32px var(--lsp-secondary) inset !important;
    -webkit-background-clip:    text;
    -webkit-box-shadow:         0 0 0 32px var(--lsp-secondary) inset !important;
    font-family:                'Montserrat';
    -webkit-text-fill-color:    var(--text-secondary) !important;
    font-weight:                500;
}

::placeholder {
    color:      rgba(205, 215, 255, 0.25);
    opacity:    1;
}

:-ms-input-placeholder {
    color:      rgba(205, 215, 255, 0.25);
    opacity:    1;
}

::-ms-input-placeholder {
    color:      rgba(205, 215, 255, 0.25);
    opacity:    1;
}

a {
    color: var(--lsp-blue-one);
}

hr {
    height: 1px;
    border: none;
}

table {
    caption-side:       bottom;
    border-collapse:    collapse;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    white-space:    nowrap;
    overflow:       hidden;
    text-overflow:  ellipsis;
    border-color:   inherit;
    border-style:   solid;
    border-width:   0;
}



.main::-webkit-scrollbar {
    width:          6px;
    border-radius:  3px;
}

.main::-webkit-scrollbar-track          { background: var(--lsp-tertiary); }
.main::-webkit-scrollbar-track:hover    { background: var(--lsp-light); }

.main::-webkit-scrollbar-thumb {
    background:     var(--text-muted);
    cursor:         pointer;
    *cursor:        hand;
    border-radius:  3px;
}

.main::-webkit-scrollbar-thumb:hover {
    transition: background 0.5s ease-in;
    background: var(--lsp-blue-one);
}



.bg-primary     { background-color: var(--lsp-primary);     }
.bg-secondary   { background-color: var(--lsp-secondary);   }
.bg-tertiary    { background-color: var(--lsp-tertiary);    }

.bg-blue-one    { background-color: var(--lsp-blue-one);    }
.bg-blue-two    { background-color: var(--lsp-blue-two);    }

.bg-cyan-one    { background-color: var(--lsp-cyan-one);    }
.bg-cyan-two    { background-color: var(--lsp-cyan-two);    }

.bg-green-one   { background-color: var(--lsp-green-one);   }
.bg-green-two   { background-color: var(--lsp-green-two);   }

.bg-teal-one    { background-color: var(--lsp-teal-one);    }
.bg-teal-two    { background-color: var(--lsp-teal-two);    }

.bg-yellow-one  { background-color: var(--lsp-yellow-one);  }
.bg-yellow-two  { background-color: var(--lsp-yellow-two);  }

.bg-red-one     { background-color: var(--lsp-red-one);     }
.bg-red-two     { background-color: var(--lsp-red-two);     }

.bg-purple-one  { background-color: var(--lsp-purple-one);  }
.bg-purple-two  { background-color: var(--lsp-purple-two);  }

.bg-light-one  { background-color: var(--lsp-light-one);  }
.bg-light-two  { background-color: var(--lsp-light-two);  }





.relative   { position: relative;   }
.absolute   { position: absolute;   }

.block      { display: block;       }





.flex-row {
    display:        flex;
    flex-direction: row;
}

.flex-col {
    display:        flex;
    flex-direction: column;
}

.centered {
    justify-content:    center;
    align-items:        center;
}

.justify-center     { justify-content: center;          }
.justify-stretch    { justify-content: stretch;         }
.justify-between    { justify-content: space-between;   }
.justify-end        { justify-content: flex-end;        }

.align-center   { align-items: center;      }
.align-stretch  { align-items: stretch;     }
.align-end      { align-items: flex-end;    }

.align-self-start   { align-self: flex-start;   }
.align-self-center  { align-self: center;       }
.align-self-stretch { align-self: stretch;      }
.align-self-end     { align-self: flex-end;     }

.grow-0 { flex-grow: 0; }
.grow-1 { flex-grow: 1; }





.text-start     { text-align: start;    }
.text-center    { text-align: center;   }
.text-justified { text-align: justify;  }
.text-end       { text-align: end;      }





.pointer    { cursor: pointer; }
.progress   { cursor: progress; }





.ff-poppins     { font-family: 'Poppins';    }
.ff-montserat   { font-family: 'Montserrat'; }
