<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        @include('partials/head')
        @!section('styles')
    </head>

    <body>

        @!section('alerts')

        @include('partials/header')

        <main class="main">

            @include('partials/sidebar')

            <div id="app" class="flex-col">
                <div class="main-container">
                    @!section('main-container')
                </div>
            </div>

            @!section('modal-area')

        </main>

        @include('partials/scripts')

        @!section('layout-scripts')

    </body>
</html>
